* { box-sizing: border-box; }

body{
	background-color:#f0e7dd;
	height: 100%; 
	width: 100%; 
	display: grid; 
	place-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.title{
	height: 100%; 
	width: 75%; 
	justify-content: center; 
	align-items: center;
	text-align: justify;
}

.group-names{
	height: 100%; 
	width: 50%;
	justify-content: center; 
	align-items: center;
	text-align: justify;
  	text-justify: inter-word; 
	flex-direction: column;
	border-radius: 20pt;
	background-color: #85c0c4;
}

.topics1{
	list-style: none;
}

.topic1{
	padding:10px;
}

.names-list{
	list-style: square;
}

.title-topics{
	padding: 10pt;
}

.topics2{
	background-color: #f4dda3;
	padding: 10pt;
	margin:10pt;
	border-radius: 20pt;
	box-sizing: border-box;
	max-width: calc(100% - 20pt);
	width:auto;
}

.topic2{
	background-color: #ffb1c4;
	padding:10pt;
	margin:10pt;
	width:fit-content;
	border-radius: 10pt;
}

.file{
	background-color: #7a7081;
	padding:10pt;
	margin:10pt;
	border-radius: 20pt;
	box-sizing: border-box;
	width: calc(100% - 20pt);
}

/* Estilo dos links */
.sidebar a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

/* Barra lateral */
.sidebar {
  position: fixed;
  left: -250px; /* escondida por padrão */
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #85c0c4;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  transition: left 0.3s;
  padding-top: 60px;
}


.sidebar a:hover {
  background-color: #85c0c4;
}

/* Esconde o checkbox */
#menu-toggle {
  display: none;
}

/* Botão de abrir/fechar o menu */
.menu-button {
  position: fixed;
  top: 50px;
  left: 30px;
  background-color: #85c0c4;
  color: #333;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

/* Quando o checkbox está marcado → mostra o menu */
#menu-toggle:checked ~ .sidebar {
  left: 0;
}

.content{
	margin-left: 250px;
	margin-right: 50px;
	display: flex;             /* ativa flexbox */
	flex-direction: column;    /* empilha os filhos verticalmente */
	align-items: center;       /* centraliza horizontalmente os filhos */
	gap: 20px;                 /* espaço entre os blocos */
	padding: 20px;
}

.links-sidebar{
	margin-top: 50px;
	margin-left: 30px;
}
